.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 3px solid #a36d00;
    border-radius: 35px;
    background: #ffb100;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffb100), to(#a36d00));
    background: -moz-linear-gradient(top, #ffb100, #a36d00);
    background: linear-gradient(to bottom, #ffb100, #a36d00);
    font: normal normal bold 22px arial;
    color: #0b53d1;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 3px solid #cc8800;
    background: #ffd400;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffd400), to(#c48300));
    background: -moz-linear-gradient(top, #ffd400, #c48300);
    background: linear-gradient(to bottom, #ffd400, #c48300);
    color: #0b53d1;
    text-decoration: none;
}
.button:active {
    background: #a36d00;
    background: -webkit-gradient(linear, left top, left bottom, from(#a36d00), to(#a36d00));
    background: -moz-linear-gradient(top, #a36d00, #a36d00);
    background: linear-gradient(to bottom, #a36d00, #a36d00);
}
